@charset "UTF-8"; 

body {
    background-color: #5790E6; 
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding:0px;
    margin:0px;
}

#wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #49994A;
    }

    header { 
        background-color:  #992B76;
        text-align: center;
        color: red; 
        width: 100%;
        height:50px;
        padding-top:10px; 
        padding-bottom:10px;
        }

    article { 
        
        text-align: center;
        background: linear-gradient(45deg, #E685C8 0%, #CAE3CA 100%); 
        width: 85%; 
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px; 
        } 

        aside{
            background: linear-gradient(45deg, #992B76 0%, #5790E6 50%, #CAE3CA 100%); 
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%; 
            margin-top: 20px; 
            padding: 10px; 
        }
    
        .sidebox {
            background-color: #E685C8; 
            width: 90%; 
            margin-top: 10px; 
            margin-bottom: 10px;
            padding: 10px; 
            }

         .clear{
            clear: both;
            }

        footer { 
        background-color: #992B76;
        text-align: center;
        color: red; 
        height:50px;
        width: 100%;
        padding-top:10px; 
        padding-bottom:10px;
        margin-top: 10px;
        }
        

   form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 95%;
   } 

   article textarea {
    display: flex;
    flex-direction: column;
    width: 95%
   }

   article label {
    width: 90%
   }

   article input{
    width: 80%
   }